*{
    padding: 0;
    margin: 0;
}

:root{
    --text-color:white;
    --background-color:#202124;
    --hover-color:#303134;
    --button-bgcolor:#303134;
    --link-text:#BDC1BC;
    --link-color:#8AB4F8;
    --footer-color:#171717;
    --footer-tcolor:#BDC1BC;
}

.light-theme {
    --text-color:#000000;
    --background-color: #ffffff;
    --button-bgcolor:#F8F9FA;
    --hover-color:#eee;
    --link-text: #000000;
    --link-color: #1A0DAB;
    --footer-color: #f2f2f2;
    --footer-tcolor:#81857A;
}


nav,footer{
    flex-shrink: 0;
}
section{
    flex-grow: 1;
}
body{
    width: 100vw;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial,sans-serif;
}
a{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}
a:hover{
    text-decoration:underline;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}
nav ul li{
    list-style: none;
    color:white;
}

nav ul li a{
    height: 24px;
    width: 2rem;
    font-size: 13px;
    padding-right: 15px;
}
.accounts{
    margin-top: 8px;
    border-radius: 50%;
}
.accounts:hover{
    box-shadow: 0 0 0 4px var(--hover-color);
}
.lang a{
    font-size: 13px;
    color: var(--link-color);
    padding: 3px;
}
.menu{
    fill:var(--text-color);
    width:24px;
    height:24px;
    padding: 8px;
    margin-top: 6px;
    padding-right: 20px;
    cursor: pointer;
}

.space{
    width: 100%;
    height:10vh;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.goo-img{
    padding-top: 3rem;
    height: 5.8rem;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}


.searchbarcontainer{
    text-align: center;
    margin-top: 22px;
    position: relative;
}

.searchbarcontainer svg{
    width:20px;
    height: 20px;
    fill: #8B9096;
}

.search{
    position: absolute;
    padding: 10px 15px;
    cursor: pointer;
}

.voicediv{
    width: 20px;
    height: 20px;
    display: inline;
    position: relative;
}

.voice{
    position: absolute;
    padding: 10px 5px;
    right: 10px;
    cursor: pointer;
}

#search-bar:hover{
    background-color: var(--hover-color);
    outline: 0;
    border: 1px solid transparent;
}


#search-bar{
    width: 30rem;
    font-size: 1rem;
    height: 2rem;
    outline: 0;
    background-color:var(--background-color);
    border: 1px solid #8B9096;
    border-radius: 200px;
    padding: 5px 45px;
    color: var(--text-color);
    box-shadow: none;
}


.butn{
    display: flex;
    justify-content: center;
    padding-top: 18px;
}


.butn button{
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--button-bgcolor);
    min-width:8rem;
    height: 100%;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--button-bgcolor);
    margin:15px 5px;
    display: inline;
    padding: 0.5rem 1rem;
}


button:hover{
    border: 1px solid #8B9096;
}


.lang{
    margin-top: 7px;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.langspace{
    color: var(--link-text);
    padding-right:5px;
    flex-wrap: wrap;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-color);
}

footer li{
    padding: 5px;
    list-style: none;
    display: inline;
}

.india{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding:15px 30px;
    color: var(--footer-tcolor);
    border-bottom: 1px solid #3C4043;
}

#icon{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.others{
    font-size: 14px;
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.others ul li{
    margin:10px;
}
.others ul a{
    color: var(--footer-tcolor);
}
.left{
    padding: 15px;
    padding-left: 0;
}
.right{
    padding: 15px;
}
.copyright{
    padding: 5px;
    color: var(--footer-tcolor);
    text-align: center;
}


@media only screen and (max-width:600px) {
    #search-bar{
        width: 70%;
    }
    .hsw{
        display: none;
    }
}
